#background {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  box-shadow: 5px 5px darkgray;
  background-image: url('./assets/background.png');
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #ffff00; */
  padding: 10px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  background-image: url('./assets/background.png');
}
